body{
    background-color: rgb(26, 2, 26);
    font-family: Poppins;
    color: white;
    display: flex;
    position: relative;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
section{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    perspective: 1000px;
}
section::before{
    position: absolute;
    content: "";
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background: linear-gradient(90deg,#9c27b0,#f3f5f5);
    transform: translate(-175px,-100px);
}
section::after{
    position: absolute;
    content: "";
    height: 225px;
    width: 225px;
    border-radius: 50%;
    background-color: blueviolet;
    transform: translate(175px,100px);
    background: linear-gradient(90deg,#9c27b0,#f3f5f5);
}


.container {
    position: relative;
    height: 225px;
    width: 375px;
    z-index: 100;
    transform-style: preserve-3d;
    transition: 0.6s;
}
.container .card{
    position: absolute;
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    flex-direction: column;
    position: relative;
    background-color: rgba(255,255,255,0.15);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    backface-visibility: hidden;
}
.container:hover{
    transform: rotateY(180deg);
}

.card.back-face{
    
    position: absolute;
    top: 0px;
    transform: rotateY(180deg);
    height: 225px;
    width: 375px;
}
.card.back-face header{
    padding: 20px 10px 0px 10px;
    font-size: 8px;
}
.card.back-face .black-line{
    width: 100%;
    height: 45px;
    position: absolute;
    top: 40px;
    left: 0px;
    background-color: #000000;
}
.card.back-face .signature {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
    height: 40px;
    width: 85%;
    border-radius: 6px;
    background: repeating-linear-gradient(
      #fff,
      #fff 3px,
      #efefef 0px,
      #efefef 9px
    );
  }
  .signature i {
    color: #000;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: -30px;
    z-index: -1;
  }

.card.back-face span{
    font-size: 10px;
    padding: 20px;
}
.first-line{
    display: flex;
    margin:25px 0px 0px 15px;
    align-items: center;
}
.first-line .red,.first-line .green{
    height: 40px;
    width: 40px;
    border-radius: 50%; 
}
.logo{
    display: flex;
    margin-right: 10px;
}
.first-line .red{
    background-color: red;
    margin-right: -8px;
    opacity: 1;
}
.first-line .green{
    background-color: greenyellow;
    opacity: 0.5;
}
.card-name{
    font-weight: 500;
    font-size: 15px;
}




.card-number{
    margin:20px 0px 0px 15px;
}
.card-number .line1{
    font-size: 12px;
}
.card-number .line2{
    font-size: 20px;
    margin-top: 5px;
    font-weight: 500;
}
.card-details{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
}
.card-details .card-expiry-date{
    position: absolute;
    right: 10px;
    font-weight: 500;
}
.card-holder-name{
    margin-left: 15px;
    font-weight: 500;
}
.card-details .line1{
    font-size: 10px;
}